@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, rgba(140,122,122,1) 0%, rgba(175,135,124,1) 65%, rgba(175,135,124,1) 100%) fixed;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg') no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}

.card-container {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.clash-card {
    background: white;
    width: 300px;
    display: inline-block;
    margin: auto;
    border-radius: 14px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
    height: 500px;
}

.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  background-image: url('../img/Paris.jpg');
}


.clash-card__image--paris img{
    width: 300px;
    height: 230px;
    margin-bottom: 35px;
    position: relative;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;  
}

.clash-card__image--roma img{
    width: 300px;
    height: 230px;
    margin-bottom: 35px;
    position: relative;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;  
}

.clash-card__image--tokio img{
    width: 300px;
    height: 230px;
    margin-bottom: 35px;
    position: relative;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;  
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;  
}